
html, body
{
  position:absolute;
  width:100%;
  height:100%;
  font:12pt Verdana;

  -moz-user-select:none;
  -webkit-user-select:none;
  -ms-user-select:none;
}

table
{
  position:absolute;
  box-sizing:border-box;
  overflow:hidden;
}

input
{
  position:absolute;
  box-sizing:border-box;
  overflow:hidden;
}

img
{
  position:absolute;
  box-sizing:border-box;
}

textarea::-webkit-scrollbar { display: none; }

.Static.sta_LOGIN_Image
{
	background : URL("../../../images/tpssm/com/intro_design.png") no-repeat center center;
}

.Static.sta_LOGIN_Caption {
    color: #616161;
    font: 20px/30px "Malgun Gothic";
    letter-spacing: -2px;
}